<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IntegrativeProgramming_UI.Properties.Settings.NorthvilleLibraryV2ConnectionString"
            connectionString="Data Source=DESKTOP-8PKLPN0\SQLEXPRESS;Initial Catalog=NorthvilleLibraryV2;User ID=elle;Password=K@hitano2459;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>